.layer {
  position: absolute;
  display: block;
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background-color: #644615;
  box-shadow: 
    0 2px 0px #33230b, 
    0 6px 0px #32230b,
    0 8px 0px #31230b,
    0 10px 0px #30220b,
    0 12px 0px #2f220b,
    0 14px 0px #2f210a,
    0 16px 0px #2e200a,
    0 18px 0px #2d200a,
    0 20px 0px #2c1f0a,
    0 22px 0px #2a1e09,
    0 26px 0px #2a1d09,
    0 28px 0px #291d09,
    0 30px 0px #281c09;
}

.layer-top {
  top: 0px;
}

.layer-middle {
  top: 33px;
}

.layer-bottom {
  top: 66px;
}

.icing {
  top: 2px;
  left: 5px;
  background-color: #f0e4d0;
  width: 240px;
  height: 90px;
  border-radius: 50%;
}

.icing:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 5px;
  bottom: 6px;
  left: 5px;
  background-color: #f4ebdc;
  border-radius: 50%;
  box-shadow: 
    0 0 4px #f6efe3,
    0 0 4px #f6efe3,
    0 0 4px #f6efe3;
}